<ion-view view-title="add Cards">
  <ion-content>
    <ion-list> 
    <label class="item item-input"> 
     <input type="text" placeholder="card frontside"ng-model="frontside.text">
     </label>
     <label class="item item-input"> 
     <input type="text" placeholder="card backside" ng-model="backside.text">
     </label>
     <button class="button button-full button-balanced"> Save</button>
     <button class="button button-full button-balanced"ng-click="closeDeck()"> Save Deck</button>
    </ion-list>
  </ion-content>
</ion-view>
