<ion-popover-view>
	<div class="list">
		<a class="item item-icon-left" ng-click="shuffleCards()">
    	<i class="icon ion-shuffle"></i>
    		shuffleCards
  		</a>
  		<a class="item item-icon-left" ng-click="switchCards()">
    	<i class="icon ion-android-sync"></i>
    		switch card side
  		</a>
  		<a class="item item-icon-left" ng-click="editCard()">
    	<i class="icon ion-android-create"></i>
    		edit card
  		</a>
  		<a class="item assertive item-icon-left" ng-click="deleteCard()">
    	<i class="icon ion-android-close"></i>
    		delete card
  		</a>
	</div>
</ion-popover-view>